### OS / IDE
.idea/
.idea/*
.venv
__pycache__/
*.pyc
.venv/
.DS_Store
.*

### Sensible data
/data
*.xlsx
*.csv
**/*.csv
**/*.parquet

### Exports notebooks
**/.ipynb_checkpoints/

### Secrets
.env
*.key

backend/requirements.macos.txt
